//Settings Modal
// .tippy-box[data-theme~='white'] {
//     background-color: $WHITE;
//     color: $primary_black;
//     border-radius: 3px;
//     box-shadow: -1px 1px 3px rgba($color: #000000, $alpha: .17);
//     padding: 0rem ;
//     width: fit-content;
//     // text-align: center;

//     & .tippy-content{
//         padding: 0;
//     }

// }

.modal_hide{
    transition: .3s;
    transform: scale(0);
}

.settingsModal {
    position: absolute;
    top: 5%;
    left: 12%;
    width: 75%;
    height: 90%;
    background-color: $WHITE;
    border-radius: 8px;
    z-index: 11;
    overflow: hidden;
    background-color: $primary_green;
    box-shadow: -3px 3px 20px rgba($color: #000000, $alpha: 0.463);

    .settingsContainer {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
        // border-radius: 15px;


        .modalPage {
            width: 100%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 15px;


            .modal_menu {
                width: 12%;
                height: 100%;
                background-color: $primary_green;
                display: flex;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                z-index: 2;
                border-radius: 15px;

                .modalMenu_item {
                    width: 100%;
                    height: 50%;
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    transition: 0.3s;
                    cursor: pointer;
                    color: $WHITE;
                    font-size: .8rem;
                    font-weight: 600;
                    
                    img{
                        margin-bottom: .5rem;
                    }

                    &:first-child {
                        border-top-left-radius: 10px;
                    }

                    &:last-child {
                        border-bottom-left-radius: 10px;
                    }

                    &:hover {
                        background-color: $primary_green--dark;
                    }

                    & img {
                        width: 36%;
                    }
                }

                .currentPage {
                    background-color: $primary_green--dark;
                }
            }

            .modal_content {
                width: 90%;
                height: 100%;
                background-color: $WHITE;
                position: relative;

                .modalHeader {
                    width: 100%;
                    background-color: $OFFWHITE;
                    height: 10%;
                    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.1);
                    padding: 0 1rem;
                    display: flex;
                    justify-content: flex-start;
                    align-items: center;
                    z-index: 1;
                    position: absolute;

                    .modalTitle {
                        font-weight: 400;
                        font-size: 1.32rem;
                        color: $primary_green;
                    }

                    img {
                        width: 6%;
                        height: 40%;
                    }
                }

                .slider {
                    height: 200%;
                    transition: .5s ease-out;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: column;


                    .modalContent_settings {
                        position: relative;
                        width: 100%;
                        height: 100%;
                        overflow-y: hidden;

                        .settingsAlert{
                            width: 100%;
                            height: 8%;
                            position: absolute;
                            top: 0;
                            left: 0;
                            transform: translateY(-100%);
                            transition: .3s;
                            color: $WHITE;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                        }
                        .settingsAlert--shown{

                            transform: translateY(0%);
                        }
                        .settingsAlert--success{
                            background-color: $secondary_green;
                        }

                        .settingsAlert--fail{
                            background-color: $secondary_red;
                        }


                    }

                    .accSettings {
                        margin-top: 10%;
                        padding: 1rem;

                        .notif_bar{

                            position: absolute;
                            top: -10%;
                            left: 0;
                            width: 100%;
                            background-color: $secondary_green;
                            color: $WHITE;
                            height: 8%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            transition: .3s;

                        }

                        .notif_bar--shown{
                            top: 0;
                        }

                        .notif_bar--error{
                            background-color: $secondary_red;
                        }

                        center {
                            width: 100%;
                            height: 80%;
                            display: flex;
                            flex-wrap: wrap;
                            justify-content: space-between;
                            align-items: center;
                            flex-direction: column;
                        }

                        .settingsLabel {
                            display: block;
                            width: 44%;
                            height: 30%;
                            background-color: darken($color: $OFFWHITE, $amount: 10);
                            padding: 1rem;
                            border-radius: 4px;
                            color: $primary_green;
                            margin-right: 1rem;
                            text-align: left;
                            display: flex;
                            justify-content: center;
                            align-items: flex-start;
                            flex-direction: column;
                            


                            input {
                                align-self: center;
                                display: block;
                                width: 100%;
                                height: 50%;
                                padding: .8rem;
                                margin-top: .3rem;
                                border-radius: 3px;
                                border: 1px solid darken($color: $OFFWHITE, $amount: 50);

                                &:focus {
                                    outline: 3px solid rgba($color: $primary_green, $alpha: .4);
                                    outline-offset: 1px;
                                }
                            }

                        }

                        
                        .modal_btn_submit {
                            width: 15%;
                            margin-top: 1rem;
                            height: 7%;
                            background-color: $primary_green;
                            font-size: .9rem;
                            border-radius: 3px;
                            border: 1px solid $primary_green;
                            color: $WHITE;
                            cursor: pointer;
                            margin-top: 6%;
                            margin-left: 2%;
                        }
                    }

                    .genSettings {
                        margin-top: 10%;
                        padding: 1rem;

                        .settingsLabel {
                            display: block;
                            width: 50%;
                            height: 18%;
                            background-color: darken($color: $OFFWHITE, $amount: 10);
                            padding: 1rem;
                            border-radius: 4px;
                            color: $primary_green;
                            margin-top: 1.5rem;

                            &:first-child{
                                margin-top: 0;
                            }


                            .modal_ddMenu {
                                display: block;
                                width: 100%;
                                height: 2rem;
                                margin-top: .5rem;
                                outline: none;
                                border-radius: 3px;
                                border: 1px solid darken($color: $OFFWHITE, $amount: 50);
                                cursor: pointer;
                                font-family: Roboto;
                                color: $primary_green;
                            }
                        }

                        .modal_btn_submit {
                            width: 15%;
                            margin-top: 1rem;
                            height: 8%;
                            background-color: $primary_green;
                            font-size: .9rem;
                            border-radius: 3px;
                            border: 1px solid $primary_green;
                            color: $WHITE;
                            cursor: pointer;
                        }
                    }


                }

                .slider--onAdmin {
                    transform: translateY(0%);
                }

                .slider--onAcc {
                    transform: translateY(-0%);
                }

                .slider--onGen {
                    transform: translateY(-50%);
                }

            }
        }
    }

    // overflow: visible;
}


.dialog--confirmationBox{
    position: absolute;
    width: 40%;
    height: 55%;
    z-index: 11;
    border-radius: 10px;
    top: 24%;
    left: 26%;
    transition: .5s;
    transform: scale(0);
    color: $primary_black;
    font-size: 1.2rem;

    background-color: $OFFWHITE;

    & .dialogContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    & .dialogHeader{
        height: 15%;
        font-size: 1.4rem;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        padding: .8rem 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $WHITE;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;

        img{
            transition: .3s;
            width: 5%;
        }

        .img_close{
            // margin: .8rem;
            border-radius: 4px;

            &:hover{
                box-shadow: -1px 2px 6px rgba($color: #000000, $alpha: 0.16);
            }
        }
    }
    & .dialogBody{
        width: 100%;
        height: 69%;
        text-align: justify;
        padding: 1rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    & .dialogFooter{
        height: 18%;
        width: 100%;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        & .dialogConfirm{
            height: 100%;
            width: 50%;
            background-color: $secondary_red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $WHITE;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background-color: lighten($color: $secondary_red, $amount: 10);
            }
        }

        & .dialogRevert{
            height: 100%;
            width: 50%;
            background-color: $primary_green;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $WHITE;
            border-bottom-right-radius: 10px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background-color: lighten($color: $primary_green, $amount: 10);
            }
        }
    }
}
.dialog--confirmationBox--shown{
    transform: scale(1);
}



.dialog--promptBox{
    color: $primary_black;
    font-size: 1.2rem;
    position: absolute;
    width: 40%;
    height: 55%;
    z-index: 11;
    border-radius: 10px;
    top: 24%;
    left: 26%;
    background-color: $OFFWHITE;
    transform: scale(0);
    transition: .5s;

    & .dialogContainer{
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        .table{
            width: 100%;
            height: 100%;
            overflow-y: auto;

            .tableHeader{
                width: 100%;
                height: 12%;
                padding: .5rem;
                background-color: $primary_green;
                color: $WHITE;
                display: flex;
                justify-content: space-between;
                align-items: center;
                font-size: 1rem;
            }

            .long{
                width: 20%;
                height: 100%;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: flex-start;
            }
            .Short{
                width: 13%;
                height: 100%;
                display: flex;
                justify-content: center;
                align-items: flex-start;
                text-align: center;
            }

            .tableBody{
                width: 100%;
                height: 88%;
                overflow-y: auto;
                background-color: $OFFWHITE;

                .tableRow{
                    width: 100%;
                    height: 3rem;
                    background-color: $WHITE;
                    font-size: .8rem;
                  

                    &:nth-child(even){
                        background-color: $OFFWHITE;
                    }

                    .rowContainer{
                        width: 100%;
                        height: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        padding: .5rem;
                    }  
                }
            }
        }
    }

    & .dialogHeader{
        font-size: 1.4rem;
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 15%;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        padding: .8rem 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $WHITE;
        color: $primary_green;
        font-size: 1.4rem;
        z-index: 1;

        img{
            transition: .3s;
            width: 5%;
        }

        .img_close{
            // margin: .8rem;
            border-radius: 4px;

            &:hover{
                box-shadow: -1px 2px 6px rgba($color: #000000, $alpha: 0.16);
            }
        }
    }
    & .dialogBody{
        width: 100%;
        height: 69%;
        text-align: justify;
        padding: 1rem;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
        background-color: $WHITE;

        & input{
            width: 100%;
            height: 20%;
            border: 1px solid $primary_black;
            padding: 1rem;
            border: 2px solid $primary_green;
            border-radius: 6px;
        }

        & select{
            width: 100%;
            height: 20%;
            border: 1px solid $primary_black;
            padding: 1rem;
            border: 2px solid $primary_green;
            border-radius: 6px;
            cursor: pointer;
        }
    }
    & .dialogFooter{
        height: 18%;
        width: 100%;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        & .dialogConfirm{
            height: 100%;
            width: 100%;
            background-color: $secondary_red;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $WHITE;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background-color: lighten($color: $secondary_red, $amount: 10);
            }
        }
    }
}



.dialog--itemFormBox{
    font-size: 1.2rem;
    width: 55%;
    height: 80%;
    top: 10%;
    left: 20%;
    transform: scale(0);
    transition: .5s;
    color: $primary_black;

    .dialogHeader{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 12%;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        padding: .8rem 1rem;
        width: 100%;
        height: 10%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $WHITE;
        color: $primary_green;
        font-size: 1.4rem;
        z-index: 1;
    }
   
    & .dialogContainer{
        display: flex;
        flex-direction: column;    
        justify-content: space-between;
        

        & form{
            height: 100%;
            width: 100%;
            display: inline-block;

            #lbl_name{
                display: block;
                width: 100%;
                height: 18%;

                #name{

                    width: 100%;
                    height: 72%;
                    font-size: 1rem;
                    color: $primary_black;

                    &:disabled{
                        opacity: .5;
                        cursor: default;
                    }

                }

            }

           
           

            .flexContainer{
                height: 80%;
                display: flex;
                justify-content: space-between;
                flex-direction: row;
                align-items: center;
                width: 100%;
                flex-wrap: wrap;
                margin-top: .5rem;
                margin-bottom: 1rem;
                font-size: 1.1rem;


                .lbl{
                    display: block;
                    height: 24%;
                    width: 48%;
                    margin-right: 2%;

                    span{
                        display: block;
                        width: 50%;
                        // margin-bottom: .5rem;
                    }

                    select{
                         &:disabled{
                            opacity: .5;
                            cursor: default;
                        }
                    }

                    .dialogForm_tb{
                        margin-top: .2rem;
                        height: 65%;
                        font-size: 1rem;
                        color: $primary_black;

                        &:disabled{
                            opacity: .5;
                            cursor: default;
                        }
                    }
                }

                .quarterwidth{

                    display: block;
                    height: 20%;
                    width: 48%;
                    margin-right: 2%;

                    span{
                        display: block;
                        width: 50%;
                        // margin-bottom: .5rem;
                    }

                    select{
                         &:disabled{
                            opacity: .5;
                            cursor: default;
                        }
                    }

                    .dialogForm_tb{
                        margin-top: .2rem;
                        height: 72%;
                        font-size: 1rem;
                        color: $primary_black;

                        &:disabled{
                            opacity: .5;
                            cursor: default;
                        }
                    }
    
                }
    
            }
        }

        //Only used in checkout form
        & .scrollBox{

            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 2rem;
            background-color: $WHITE;

            .modalItem{
                width: 100%;
                height: 4rem;
                box-shadow: 0 3px 20px rgba($color: #000000, $alpha: .160);
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 1rem;
                border-radius: 4px;

                .delItem{
                    position: absolute;
                    top: 0;
                    right: 0;
                    width: 5%;
                    height: 30%;
                    background-color: $WHITE;

                    .img{
                        width: 8%;
                    }
                }
            }

        }

    }

    // &.dialogBody{
    //     height: 75%;
    //     background-color: red;

    //     & input{
    //         display: block;
    //         width: 50%;
    //     }
    // }

    & .dialogFooter{
        justify-self: flex-end;
        height: 12%;
        width: 100%;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        & .dialogConfirm{
            height: 100%;
            width: 100%;
            font-size: 1.4rem;
            background-color: $primary_green;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $WHITE;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background-color: lighten($color: $primary_green, $amount: 10);
            }

            & img{
                width: 4%;
                margin-left: .5rem;
            }
        }
    }
}

.dialog--excelForm{
    width: 65%;
    left: 15%;

    & .dialogContainer{
        font-size: 1rem;
    }

    & .dialogFooter{

        // & .dialogConfirm{

            & img{
                width: 4%;
                margin-left: .5rem;
            }
        // }
    }
}



.dialog--cartForm{
    font-size: 1.2rem;
    width: 40%;
    height: 75%;
    top: 10%;
    left: 27%;
    transform: scale(0);
    transition: .5s;
    color: $primary_black;
    outline: none;

    .dialogHeader{
        border-top-left-radius: 10px;
        border-top-right-radius: 10px;
        height: 15%;
        box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.16);
        padding: .8rem 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: $WHITE;
        color: $primary_green;
        font-size: 1.4rem;
        z-index: 1;

        & #lblPrice{
            color: $primary_black;
        }
    }
   
    & .dialogContainer{
        display: flex;
        flex-direction: column;    
        justify-content: space-between;        



        //Only used in checkout form
        & .scrollBox{

            width: 100%;
            height: 100%;
            overflow-y: auto;
            padding: 1rem;
            background-color: $WHITE;
            overflow-x: hidden;

            .modalItem{
                width: 100%;
                height: 5rem;
                box-shadow: 0 3px 20px rgba($color: #000000, $alpha: .160);
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                margin-bottom: 1rem;
                padding: 1rem;
                font-size: 1rem;
                border-radius: 2px solid $OFFWHITE;
                border-radius: 6px;
                transition: .4s;

                &:hover > .delItem{
                    transform: scale(1);
                }

                .itemInfo{
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                    margin-right: .2rem;

                    &:last-child{
                        margin-right: 0;
                    }
                }

                #name{
                    width: 35%;
                    height: 100%;
                }
                #brand{
                    width: 25%;
                    height: 100%;
                }
                #amount{
                    width: 20%;
                    height: 100%;
                }
                #cost{
                    width: 20%;
                    height: 100%;
                }


                .delItem{
                    position: absolute;
                    top: -10px;
                    right: -5px;
                    width: 4.5%;
                    height: 30%;
                    background-color: $primary_yellow;
                    border: 2px solid $OFFWHITE;
                    border-radius: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transform: scale(0);
                    transition: .3s;



                    img{
                        width: 80%;
                        height: 80%;
                    }

                   
                }
            }

        }

    }


    & .dialogFooter{
        justify-self: flex-end;
        height: 18%;
        width: 100%;
        display: flex;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;

        & .dialogConfirm{
            height: 100%;
            width: 100%;
            font-size: 1.4rem;
            background-color: $primary_green;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $WHITE;
            border-bottom-right-radius: 10px;
            border-bottom-left-radius: 10px;
            cursor: pointer;
            transition: .3s;

            &:hover{
                background-color: lighten($color: $primary_green, $amount: 10);
            }

            & img{
                width: 4%;
                margin-left: .5rem;
            }
        }
    }
}

.profitDialog{

    position: absolute;
    background-color: $WHITE;
    top: 25%;
    left: 35.5%;
    width: 26%;
    height: 50%;
    z-index: 11;
    border-radius: 8px;
    box-shadow: 5px 8px 10px rgba($color: $primary_black, $alpha: 0.3);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: scale(0);
    transition: .3s;

    header{

        width: 100%;
        height: 15%;
        font-weight: 500;
        font-size: 1.7rem;
        color: $primary_green;
        box-shadow: 1px 3px 5px rgba($color: $primary_black, $alpha: 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1rem;
        transition: .3s;

        img{
            width: 8%;
            padding: .1rem;
            transition: .3s;
            border-radius: 4px;

            &:hover{
                box-shadow: 1px 3px 5px rgba($color: $primary_black, $alpha: 0.3);
            }
        }

    }

    center{

        height: 85%;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        position: relative;
        padding: 1rem;

        .profitLabel{

            display: block;
            width: 48%;
            // color: lighten($color: $primary_black, $amount: 5);
            color: $primary_black;
            text-align: left;
            font-size: 1rem;
            position: relative;

            .value{

                font-weight: 500;
                color: $primary_black;
                display: block;
                width: 100%;
                text-align: left;
                font-size: 1.5rem;
                color: $primary_green;


            }

            .lbl_toolTip{

                position: absolute;
                display: none;
                padding: .1rem;
                border: 1px solid $primary_black;
                border-radius: 4px;
                width: max-content;
                z-index: 2;

            }

        
        }


    }

    img{
        width: 20%;
    }

}

.profitDialog--shown{

    transform: scale(1);

}

.userForm{

    width: 35%;
    height: 80%;
    position: absolute;
    bottom: 15%;
    left: 30%;
    background-color: $WHITE;
    box-shadow: 3px 5px 8px rgba($color: $primary_black, $alpha: 0.3);
    z-index: 11;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    transform: scale(0);
    transition: .3s;
    // background-color: blue;

    .userForm_header{

        height: 12%;
        display: flex;
        justify-content: space-between;
        padding: 0 1rem;
        align-items: center;
        font-size: 1.2rem;
        font-weight: 500;
        color: $primary_green;
        width: 100%;
        z-index: 2;
        background-color: $WHITE;
        border-top-right-radius: 8px;
        border-top-left-radius: 8px;

        img{
            width: 8%;
            padding: .1rem;
            transition: .3s;
            border-radius: 3px;

            &:hover{
                box-shadow: 1px 3px 5px rgba($color: $primary_black, $alpha: 0.3);
            }
        }

    }
    .notificationBanner{

        position: absolute;
        top: 2%;
        left: 0;
        width: 100%;
        background-color: $secondary_green;
        color: $WHITE;
        height: 5%;
        transition: .3s;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .notificationBanner--shown{

        top: 12%;

    }

    form{

        height: 78%;
        padding: 0 1rem;
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        flex-wrap: wrap;
        color: $primary_black;
        
        .formlbl{

            display: block;
            width: 49%;
            height: 22%;
            font-size: 1.15rem;
            // background-color: red;

            input,select{
                width: 100%;
                display: block;
                height: 60%;
                border: 1px solid $primary_black;
                border-radius: 3px;
                margin-top: .1rem;
                padding: .5rem;
                color: $primary_black;
                position: relative;
                transition: .3s;
                font-size: 1rem;

            }

            .error{
                outline-width: .5rem;
                outline-color: $secondary_red;
                position: relative;

                & + .alertSpan{
                    font-size: .7rem;
                    color: $secondary_red;
                    position: absolute;
                }
            }


        }
        .lbl_FirstName, .lbl_LastName{
            width: 100%;
        }

    }

    .btn_employ{

        width: 100%;
        background-color: $primary_green;
        height: 10%;
        border: 1px solid $primary_green;
        border-bottom-right-radius: 8px;
        border-bottom-left-radius: 8px;
        font-size: 1.1rem;
        color: $WHITE;
        outline: none;
        transition: .3s;

        &:hover{
            background-color: lighten($color: $primary_green, $amount: 5);
        }

    }

}

.userForm--shown{
    transform: scale(1);
}

.exitPromptBox{

    width: 30%;
    height: 45%;
    position: absolute;
    top: 23%;
    left: 30%;
    z-index: 11;
    background-color: $OFFWHITE;
    border-radius: 8px;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    transition: .5s;
    transform: scale(0);
    color: $primary_black;

    &:active{
        outline: none;
    }

    .header{

        width: 100%;
        height: 15%;
        background-color: $WHITE;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        justify-content: flex-start;
        align-items: center;
        font-size: 1rem;
        padding: .8rem;
        box-shadow: 1px 3px 5px rgba($color: #000, $alpha: 0.3);


    }

    center{
        width: 100%;
        height: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: $WHITE;
        font-size: 1.3rem;
    }
    footer{
        width: 100%;
        height: 15%;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
        display: flex;
        justify-content: center;
        align-items: center;

        .confirm, .deny{
            flex: 1;
            display: flex;
            justify-content: center;
            align-items: center;
            color: $WHITE;
            height: 100%;
            cursor: pointer;
            transition: .3s;
        }

        .confirm{
            background-color: $primary_green;
            border-bottom-left-radius: 8px;

            &:hover{
                background-color: lighten($color: $primary_green, $amount: 5);
            }
        }
        .deny{
            background-color: $secondary_red;
            border-bottom-right-radius: 8px;

            &:hover{
                background-color: lighten($color: $secondary_red, $amount: 5);
            }
        }

    }

}
.exitPromptBox--shown{
    transform: scale(1);
}

.modal{
    box-shadow: 0px 11px 22px rgba($color: #000000, $alpha: 0.16);
}


.dialog--shown{
    transition: .5s;
    transform: scale(1);
}

.fullwidth{
    width: 100%;
    // background-color: red;
}
.halfwidth{
    width: 50%;
}
