.tooltip_cb {
    color: white;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 0.8rem;
}


// Tomato Theme
.tippy-box[data-theme~="tomato"] {
    background-color: $primary_yellow;
    color: $WHITE;
}

.tippy-tooltip.tomato-theme {
    background-color: $primary_yellow;
}

.tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: $primary_yellow;
    bottom: -4px;
}

.tippy-box[data-theme~='tomato'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: $primary_yellow;
    top: -4px;
}


.tippy-box[data-theme~='tomato'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: $primary_yellow;
    right: -4px;
}


.tippy-box[data-theme~='tomato'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: $primary_yellow;
    left: -4px;
}




/*************************WHITE THEME***********************************/

.tippy-box[data-theme~='white'] {
    background-color: $WHITE;
    color: $primary_black;
    border-radius: 3px;
    box-shadow: -1px 1px 3px rgba($color: #000000, $alpha: .17);
    padding: 0rem ;
    // text-align: center;
     
    & .tippy-content{
        padding: 0;
    }
    
    
}