#tooltip_cb {
    color: white;
    font-weight: 500;
    font-family: 'Roboto';
    font-size: .8rem;
}
.tippy-box[data-theme~='tomato'] {
    background-color: $primary_yellow;
    color: $WHITE;
  }

.tippy-tooltip.tomato-theme{
    background-color: $primary_yellow;
}

.tippy-tooltip.tomato-theme[data-placement^='top'] .tippy-arrow{
    bottom: -4px;
}
.tippy-tooltip.tomato-theme[data-placement^='bottom'] .tippy-arrow{
    top: -4px;
}
.tippy-tooltip.tomato-theme[data-placement^='left'] .tippy-arrow{
    right: -4px;
}
.tippy-tooltip.tomato-theme[data-placement^='right'] .tippy-arrow{
    left: -4px;
}