.tooltip_cb {
    color: white;
    font-weight: 500;
    font-family: "Roboto";
    font-size: 0.8rem;
}

.tippy-box[data-theme~="tomato"] {
    background-color: $primary_yellow;
    color: $WHITE;
}

.tippy-tooltip.tomato-theme {
    background-color: $primary_yellow;
}

.tippy-box[data-theme~='tomato'][data-placement^='top']>.tippy-arrow::before {
    border-top-color: $primary_yellow;
    bottom: -4px;
}

.tippy-box[data-theme~='tomato'][data-placement^='bottom']>.tippy-arrow::before {
    border-bottom-color: $primary_yellow;
    top: -4px;
}


.tippy-box[data-theme~='tomato'][data-placement^='left']>.tippy-arrow::before {
    border-left-color: $primary_yellow;
    right: -4px;
}


.tippy-box[data-theme~='tomato'][data-placement^='right']>.tippy-arrow::before {
    border-right-color: $primary_yellow;
    left: -4px;
}