//ROBOTO SLAB
@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-Thin.ttf') format('ttf');
    font-weight: 300;
}

@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-SemiBold.ttf') format('ttf');
    font-weight: 600;
}

@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-Bold.ttf') format('ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-ExtraBold.ttf') format('ttf');
    font-weight: 800;
}

@font-face{
    font-family: 'Roboto-Slab';
    src: url('../../Fonts/Roboto_Slab/RobotoSlab-Black.ttf') format('ttf');
    font-weight: 900;
}

//ROBOTO
@font-face{
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/Roboto-Light.ttf') format('ttf');
    font-weight: 300;
}

@font-face{
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/Roboto-Regular.ttf') format('ttf');
    font-weight: 400;
}

@font-face{
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/Roboto-Medium.ttf') format('ttf');
    font-weight: 500;
}

@font-face{
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/Roboto-Bold.ttf') format('ttf');
    font-weight: 700;
}

@font-face{
    font-family: 'Roboto';
    src: url('../../Fonts/Roboto/Roboto-Black.ttf') format('ttf');
    font-weight: 900;
}



