$primary_green: #35594B;
$primary_yellow: #EFB526;
$primary_green--dark : #204B40;
$primary_black: #646766;
// $primary_blue: #2A6AD4;
// $primary_blue: #EFB526;
$primary_blue: #35594B;
$secondary_yellow: #E17C38;
$secondary_green: #12A89D;
$secondary_red: #ce2727;
$WHITE: #fff;
$BLACK: #000;
$OFFWHITE: #F1F2F2;



/********************FONTS ***************************/
$primary_font: 'Roboto', 'sans-serif';