<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Store Front</title>
  <link rel="stylesheet" href="../../views/css/analytics.css">
</head>

<body>

  <div class="main_menu">
    <div class="menu_a">
      <label for="" class="lbl_storeName"><img src="../Icons/logo/logo.png" alt=""></label>

      <div class="menu_iconsContainer">

        <div id="goto_store" tabindex="1" class="menu_icons tabItem">
          <img src="../Icons/menuIcons/storefront.svg" id="storefront" alt="Goto StoreFront" class="menuIcon tip_store">
        </div>
        <div id="goto_inventory" tabindex="2" class="menu_icons tabItem" aria-placeholder="Go to Inventory">
          <img src="../Icons/menuIcons/inventory.png" id="menuIcon_png" alt="Goto Inventory"
            class="menuIcon tip_inventory">
        </div>
        <div id="goto_analytics" tabindex="3" class="menu_icons current tabItem" aria-placeholder="Go to analytics">
          <img src="../Icons/menuIcons/analytics.svg" alt="Goto analytics" class="menuIcon tip_analytics">
        </div>
        <div id="goto_employees" tabindex="3" class="menu_icons tabItem" aria-placeholder="Go to employees">
          <img src="../Icons/menuIcons/users_ico.svg" alt="Goto analytics" class="menuIcon tip_employees">
        </div>

      </div>

    </div>

    <div class="menu_b">
      <center>
        <img tabindex="4" id="account" src="../Icons/menuIcons/Tray/info.svg" alt="" class="menu_items tabItem">
        <!-- <input type="checkbox" name="" id="" class="menuB_cb"> -->
        <img tabindex="5" id="settings" src="../Icons/menuIcons/Tray/settings.svg" alt="" class="menu_items tabItem">
        <img tabindex="6" id="signout" src="../Icons/menuIcons/Tray/signout.svg" alt="" class="menu_items tabItem">
      </center>
    </div>

  </div>

  <div class="main_body">

    <div class="titleBar" aria-placeholder="Title Bar">

      <div class="titleBar_location">Analytics</div>
      <div class="titleBar_userName"></div>

      <div class="titleBar_controlBox">
        <div class="controlBox_minimize control store" aria-placeholder="minimize">
          <img src="../Icons/Control_Box/Store/Minimize.png" alt="" />
        </div>
        <div class="controlBox_maximize control store" aria-placeholder="maximize">
          <img src="../Icons/Control_Box/Store/Maximize.png" id="restore_maxi" alt="" />
        </div>
        <div class="controlBox_close control store" aria-placeholder="close">
          <img src="../Icons/Control_Box/Store/Close.png" alt="" />
        </div>
      </div>

    </div>

    <div class="mainBody_content">
      
      <div  class="content_toolBar">

         <div class="footer_actions">
     
          <label for="" class="filter">
            View From:
            <input type="date" name="" id="toolBarDate_from" class="footer_date">

            <div class="toolBar_tP starttP">
              <div class="arrow"></div>

              <div class="inSpan">Please select a start date</div>
            </div>

            To:
            <input type="date" name="" id="toolBarDate_to" class="footer_date">

            <div class="toolBar_tP endtP">
              <span class="inSpan">Please select an end date</span>
              <div class="arrow"></div>
            </div>

          </label>
  
          <button  class="toolBarSlct_btn">Go</button>
  
        </div>

        <button tabindex="0" class="toolBar_btn--alpha btn_clear tabItem">
            Clear
            <img src="../Icons/toolBar/btnClear--green.svg" class="ico_btn_clear"lt="Add New Product">
        </button>
      </div>

      <div class="contentContainer">

          <center class="alignment">

            <div tabindex="0" class="card tabItem profit">
                <label class="card_lbl">
                  Total Profit
                  <div class="period">
                    From <span class="valueFrom">Exactly One Month Ago</span> <span class="valueTo"></span>
                  </div>
                </label>
                <div class="card_content">---</div>
                <label tabindex="0" class="card_lbl lbl--underline tabItem"><span>More</span></label>
            </div>
 
            <div tabindex="0" class="card tabItem product">
              <label class="card_lbl">
                Product Of The Month
                <div class="period">
                  From <span class="valueFrom">Exactly One Month Ago</span> <span class="valueTo"></span>
                </div>
              </label>
              <div class="card_content">---</div>
              <label tabindex="0"  class="card_lbl lbl--underline tabItem"><span>View In Order</span></label>
            </div>
 
            <div tabindex="0" class="card tabItem tabItem growth" id="growthRate">
              <label class="card_lbl">
                Growth Rate
                <div class="period">
                  <!-- From <span class="valueFrom">Exactly One Month Ago</span> <span class="valueTo"></span> -->
                </div>
              </label>
              <div class="card_content">
                <img src="../Icons/card/barchart.svg" alt="">
              </div>
              <label tabindex="0" class="card_lbl lbl--underline tabItem tabItem"><span>View</span></label>
            </div>
 
            <div tabindex="0" class="card tabItem topUser">
              <label class="card_lbl">
                Top Employee
                <div class="period">
                  From <span class="valueFrom">Exactly One Month Ago</span> <span class="valueTo"></span>
                </div>
              </label>
              <div class="card_content">---</div>
              <label tabindex="0" class="card_lbl lbl--underline tabItem"><span>View In Order</span></label>
            </div>

          </center>
   
      </div>


    </div>

    <div class="footer">
      <div class="footer_clock"">
        <span class=" clock_hour">6</span>
        <span id="clock_blinker">: </span>
        <span class="clock_min"> 15</span>
        <span class="clock_ampm">PM</span>
      </div>
      
    </div>


  </div>

   
    <!--  -->

  <div class="contentCover"></div>

  <!-- <script src="../../controller/GeneralController.js"></script> -->
  <script src="../../build/GeneralController.js"></script>
  <script src="../../views/js/sortTable.js"></script>
  <script src="../../build/toolTips.js"></script>
  <script src="../../views/js/clock.js"></script>
  <script src="../../controller/modals/settingsController.js"></script>
  <script src="../../controller/AnalyticsController.js"></script>
  <!-- <script src="../../build/toolTips_Modals.js"></script> -->
</body>

</html>