<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
    <link rel="stylesheet"
    href="https://unpkg.com/tippy.js@6/animations/scale.css" />
    <link rel="stylesheet" href="../css/index.css" />
  </head>

  <body>
    <nav class="loginNav">
      <img src="../Icons/logo/logo.png" alt="logo" class="nav_logo" />
      <div class="controlBox" aria-placeholder="Control Box">
        <div class="controlBox_minimize control" aria-placeholder="minimize">
          <img src="../Icons/Control_Box/Minimize.png" alt="" />
        </div>
        <div class="controlBox_maximize control" aria-placeholder="maximize">
          <img
            src="../Icons/Control_Box/Maximize.png"
            id="restore_maxi"
            alt=""
          />
        </div>
        <div class="controlBox_close control" aria-placeholder="close">
          <img src="../Icons/Control_Box/Close.png" alt="" />
        </div>
      </div>
    </nav>
    <form action="" class="loginForm">
      <!-- <div class="banner" aria-placeholder="banner">
            <img src="../Icons/Banner/HomeBanner.png" alt="" class="img_banner">
        </div> -->
      <center class="loginForm_center">
        <!-- <h1><em>DUFFY</em> STATIONERY</h1> -->
        <img class="logo" src="../Icons/logo/logo.png" alt="" />
        <div class="loginForm_fields">
          <label for="username" class="form_lbl">
            <span class="tb_label">User Name</span>
            <input
              type="text"
              name="username"
              placeholder="Username goes here"
              aria-placeholder="Enter username here"
              class="form_tb" id="username"
            />
            <label for="" hidden class="warningLabel warningLabel_tb">Username required<img class="ico_form" src="../Icons/form/arrow_pointer.svg" alt=""></label>
          </label>
          <label for="password" class="form_lbl">
            <span class="tb_label">Password</span>
            <input
              type="password"
              name="password"
              placeholder="Password goes here"
              aria-placeholder="Enter Password Here"
              id="password"
              class="form_tb"
            />
            <div class="form_pass_visibility">
              <img src="../Icons/watch.svg" class="vis_icon" alt="" />
            </div>
            <input type="checkbox" name="" id="checkbox" class="form_check" />

            <label for="" hidden class="warningLabel warningLabel_pw">Password required<img class="ico_form" src="../Icons/form/arrow_pointer.svg" alt=""></label>
          </label>
        </div>
        <submit class="form_btn">
          <span>Open Store</span>
          <img src="" alt="">
        </submit>
        <a href="" class="forgottenPassword">Forgotten Password?</a>
      </center>


    </form>
    <div class="contentCover"></div>


    <!-- <script src="../../controller/LoginController.js"></script> -->
    <script src="../../build/LoginController.js"></script>
    <!-- <script src="https://unpkg.com/@popperjs/core@2/dist/umd/popper.min.js"></script> -->
    <!-- <script src="https://unpkg.com/tippy.js@6/dist/tippy-bundle.umd.js"></script> -->
    <!-- <script src="../../controller/utilities/ToolTipController.js"></script> -->
    <script src="../../build/toolTips.js"></script>
  </body>
</html>
