<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Inventory</title>
  <link rel="stylesheet" href="../../views/css/inventory.css">
</head>

<body>

  <div class="main_menu">
    <div class="menu_a">
      <label for="" class="lbl_storeName"><img src="../Icons/logo/logo.png" alt=""></label>

      <div class="menu_iconsContainer">

        <div id="goto_store" tabindex="1" class="menu_icons tabItem">
          <img src="../Icons/menuIcons/storefront.svg" id="storefront" alt="Goto StoreFront" class="menuIcon tip_store">
        </div>
        <div id="goto_inventory" tabindex="2" class="menu_icons current tabItem .goto_inventory">
          <img src="../Icons/menuIcons/inventory.png" id="menuIcon_png" alt="Goto Inventory"
            class="menuIcon tip_inventory">
        </div>
        <div id="goto_analytics" tabindex="3" class="menu_icons tabItem">
          <img src="../Icons/menuIcons/analytics.svg" alt="Goto analytics" class="menuIcon tip_analytics">
        </div>

      </div>

    </div>

    <div class="menu_b">
      <center>
        <img tabindex="4" id="account" src="../Icons/menuIcons/Tray/info.svg" alt="" class="menu_items tabItem">
        <!-- <input type="checkbox" name="" id="" class="menuB_cb"> -->
        <img tabindex="5" id="settings" src="../Icons/menuIcons/Tray/settings.svg" alt="" class="menu_items tabItem">
      </center>
    </div>

  </div>

  <div class="main_body">

    <div class="titleBar" aria-placeholder="Title Bar">

      <div class="titleBar_location">Inventory</div>
      <div class="titleBar_userType">Maame Dufie</div>

      <div class="titleBar_controlBox">
        <div class="controlBox_minimize control store" aria-placeholder="minimize">
          <img src="../Icons/Control_Box/Store/Minimize.png" alt="" />
        </div>
        <div class="controlBox_maximize control store" aria-placeholder="maximize">
          <img src="../Icons/Control_Box/Store/Maximize.png" id="restore_maxi" alt="" />
        </div>
        <div class="controlBox_close control store" aria-placeholder="close">
          <img src="../Icons/Control_Box/Store/Close.png" alt="" />
        </div>
      </div>

    </div>

    <div class="mainBody_content">
      <div class="content_toolBar" aria-placeholder="Tool Bar">
        <label for="searchItem" class="toolBar_lbl">
          Find:
          <input tabindex="6" type="text" placeholder="Find your product quicker"
            aria-placeholder="Find your product quicker" class="toolBar_tb">
          <button class="toolBar_btn">
              <img src="../Icons/toolBar/search.svg" alt="Search">
          </button>
        </label>

        <div class="toolBar_select">
          <div tabindex="7" class="select_value">
            <center class="selectValue_center">
              <img src="../Icons/toolBar/funnel.svg" class="selectValue_icon" alt="">
              <span class="selectValue_span">Filter By:</span>
            </center>
            <img src="../Icons/toolBar/play_arrow-black-18dp.svg" alt="" class="selectValue_icon arrow">
          </div>
          <div tabindex="0" class="select_dropdown">

            <span tabindex="0" class="selectDropdown_value tip_category">
              Category
            </span>
            <span tabindex="0" class="selectDropdown_value tip_brand">
              Brand
            </span>
            <span tabindex="0" class="selectDropdown_value tip_default">
              Default
            </span>
          </div>
        </div>

        <button class="toolBar_btn--alpha btn_add">
            Add 
            <img src="../Icons/toolBar/btnAdd--green.svg" class="ico_btn_add"lt="Add New Product">

        </button>

        <div role="menu" tabindex="-1" hidden class="btn_dropDown">

          <div role="menuitem" class="dd_listItem dd_listItem--form">Add Manually</div>
          <div role="menuitem" class="dd_listItem dd_listItem--excel">Import Excel File</div>

        </div>

        <input type="checkbox" tabindex="0" name="" id="" class="checkBtn">

      </div>

      <div class="contentContainer">
        <table class="contentTable">
          <thead class="tableHeader">
            <tr class="tableHead">
              <th class="tableHead_items tb_Cb">
                <input hidden type="checkbox" name="" id="hiddenCb">
              </th>
              <th class="tableHead_items th_sort tb_Names">
                <img src="../Icons/table/header/sort.png" alt="" class="sortIcon items_pad">
                <span>Name</span>
              </th>
              <th class="tableHead_items th_sort tb_Brands">
                <img src="../Icons/table/header/sort.png" alt="" class="sortIcon items_pad">
                <span>Brand</span>
              </th>
              <th class="tableHead_items th_sort tb_Category">
                <img src="../Icons/table/header/sort.png" alt="" class="sortIcon items_pad">
                <span>Category</span>
              </th>
              <th class="tableHead_items th_sortNumber tb_Stock">
                <img src="../Icons/table/header/sort.png" alt="" class="sortIcon items_pad">
                <span>In Stock</span>
              </th>
              <th class="tableHead_items th_sortNumber tb_Price">
                <img src="../Icons/table/header/sort.png" alt="" class="sortIcon items_pad">
                <span>
                  Unit Price <span class="currency"> (GH¢)</span>
                </span>
              </th>
            </tr>
          </thead>

          <tbody class="tableBody">
            
          </tbody>
        </table>

      </div>


    </div>

    <div class="footer">
      <div class="footer_clock"">
        <span class=" clock_hour">6</span>
        <span id="clock_blinker">: </span>
        <span class="clock_min"> 15</span>
        <span class="clock_ampm">PM</span>
      </div>
      <div class="footer_actions">
       <button disabled class="footer_btn btn_delete">
         Delete
         <img src="../Icons/toolBar/delete.svg" alt="Delete">
       </button>
       <button disabled class="footer_btn btn_edit">
         Edit
         <img src="../Icons/toolBar/edit.svg" alt="Edit">
       </button>
      </div>
    </div>


  </div>

   
    <!--  -->

  <div class="contentCover"></div>

  <script src="../../controller/GeneralController.js"></script>
  <!-- <script src="../../controller/StoreController.js"></script> -->
  <!-- <script src="../../build/StoreController.js"></script> -->
  <script src="../../views/js/sortTable.js"></script>
  <script src="../../build/toolTips.js"></script>
  <script src="../../views/js/clock.js"></script>
  <script src="../../controller/modals/settingsController.js"></script>
  <!-- <script src="../../controller/InventoryController.js"></script> -->
  <script src="../../build/InventoryController.js"></script>
  <script src="../../controller/utilities/others.js"></script>
  <!-- <script src="../../build/Others.js"></script> -->
  <!-- <script src="../../build/toolTips_Modals.js"></script> -->
</body>

</html>