<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="../../views/css/admin.css">
</head>

<body>

  <div class="main_menu">
    <div class="menu_a">
      <label for="" class="lbl_storeName"><img src="../Icons/logo/logo.png" alt=""></label>

      <div class="menu_iconsContainer">

        <div id="store" tabindex="1" class="menu_icons tabItem">
          <img src="../Icons/menuIcons/storefront.svg" id="storefront" alt="Goto StoreFront" class="menuIcon">
        </div>
        <div id="inventory" tabindex="2" class="menu_icons current tabItem">
          <img src="../Icons/menuIcons/inventory.png" id="menuIcon_png" alt="Goto Inventory" class="menuIcon">
        </div>
        <div id="analytics" tabindex="3" class="menu_icons tabItem">
          <img src="../Icons/menuIcons/analytics.svg" alt="Goto analytics" class="menuIcon">
        </div>

      </div>

    </div>

    <div class="menu_b">
      <center>
        <img tabindex="4" src="../Icons/menuIcons/Tray/account.svg" alt="" class="menu_items tabItem">
        <img tabindex="5" src="../Icons/menuIcons/Tray/settings.svg" alt="" class="menu_items tabItem">
      </center>
    </div>

  </div>

  <div class="main_body">

    <div class="titleBar" aria-placeholder="Title Bar">

      <div class="titleBar_location">SHOP</div>
      <div class="titleBar_userType">Maame Dufie</div>

      <div class="titleBar_controlBox">
        <div class="controlBox_minimize control" aria-placeholder="minimize">
          <img src="../Icons/Control_Box/Store/Minimize.png" alt="" />
        </div>
        <div class="controlBox_maximize control" aria-placeholder="maximize">
          <img src="../Icons/Control_Box/Store/Maximize.png" id="restore_maxi" alt="" />
        </div>
        <div class="controlBox_close control" aria-placeholder="close">
          <img src="../Icons/Control_Box/Store/Close.png" alt="" />
        </div>
      </div>

    </div>

    <div class="mainBody_content">
      <div class="content_toolBar" aria-placeholder="Tool Bar">
        <label for="searchItem" class="toolBar_lbl">
          Find:
          <input tabindex="6" type="text" placeholder="Find your product quicker"
            aria-placeholder="Find your product quicker" class="toolBar_tb">
          <button class="toolBar_btn">Go</button>
        </label>

        <div class="toolBar_select">
          <div tabindex="7" class="select_value">
            <center class="selectValue_center">
              <img src="../Icons/toolBar/funnel.svg" class="selectValue_icon" alt="">
              <span class="selectValue_span">Sort By:</span>
            </center>
            <img src="../Icons/toolBar/play_arrow-black-18dp.svg" alt="" class="selectValue_icon arrow">
          </div>
          <div class="select_dropdown">
            <span class="selectDropdown_value">
              Name
            </span>
            <span class="selectDropdown_value">
              Date
            </span>
          </div>
        </div>
      </div>


    </div>

    <div class="footer">
      <div class="footer_clock">6:15 AM</div>
      <div class="footer_actions">
        <label for="cartNum" class="footer_lbl">
          Total Items In Cart
          <input type="select" tabindex="8" name="cartNum" id="" class="footer_tb tabItem">
        </label>
        <button tabindex="9" class="footer_btn tabItem">Checkout</button>
      </div>
    </div>


  </div>

  <script src="../../build/finalBuild.bundle.js"></script>
</body>

</html>