@import "./components/fonts";
@import "./components/variables";
@import "./base/reset";
@import "./utilities/toolTips.scss";

body {
    height: 100vh;
    display: flex;
    background-color: $OFFWHITE;


}

.tabItem {
    outline-color: lighten($color: $primary_green, $amount: 15);

}

.main_menu {
    width: 9%;
    background-color: $primary_green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.menu_a {
    width: 100%;
    height: 43%;

    .lbl_storeName {
        -webkit-app-region: drag;
        width: 100%;
        display: block;
        text-align: center;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.26);
        height: 18%;
        padding: 5% 10%;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 60%;
            height: 85%;
        }
    }

    .menu_iconsContainer {
        width: 100%;
        height: 85%;

        .current {
            background-color: darken($color: $primary_green, $amount: 5);
        }

        .menu_icons {
            cursor: pointer;
            width: 100%;
            height: 33.33%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            & img {
                width: 48%;
                height: 45%;
            }

            &:hover {
                background-color: darken($color: $primary_green, $amount: 5);
            }
        }

        #menuIcon_png {
            width: 28%;
            height: 41%;
        }
    }
}

.menu_b {
    width: 100%;
    // background-color: red;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;

    & center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        & .menu_items {
            height: 13%;
            cursor: pointer;

            &:nth-child(1) {
                margin-right: 13%;
            }
        }
    }
}

.main_body {
    width: 91%;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .titleBar {
        z-index: 1;
        justify-self: flex-start;
        width: 100%;
        height: 4.5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.16);
        -webkit-app-region: drag;
        background-color: $WHITE;
        font-weight: 400;
        font-size: .8rem;
        color: $primary_green--dark;

        .titleBar_location {
            margin-left: 2%;
            font-weight: 500;
        }

        .titleBar_controlBox {
            width: 9%;
            height: 100%;
            -webkit-app-region: no-drag;
            display: flex;

            & .control {
                width: 33%;
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;

                &:hover {
                    transition: background-color 0.3s;
                    background-color: lighten($color: $primary_green, $amount: 5);
                }


                & img {
                    width: 40%;
                    height: 50%;
                }
            }

            & .controlBox_close:hover {
                background-color: $secondary_red;
            }
        }
    }

    .mainBody_content {
        width: 100%;
        height: 89.5%;
        justify-self: center;

        .content_toolBar {
            width: 100%;
            height: 10%;
            background-color: $WHITE;
            display: flex;
            align-items: center;
            padding: 0 2rem;
            position: relative;

            .toolBar_lbl {
                position: relative;
                width: 25%;
                font-size: 1.2rem;
                color: $primary_green;
                font-weight: 400;
                display: flex;
                align-items: center;
                height: 100%;

                .toolBar_tb {
                    margin-left: 1%;
                    border: 1px solid #6D9A88;
                    border-radius: 3px;
                    height: 40%;
                    width: 75%;
                    font-family: 'Roboto';
                    font-size: .95rem;
                    padding: .5rem;
                    outline-color: lighten($color: $primary_green, $amount: 15);
                }


                .toolBar_btn {
                    width: 15%;
                    background-color: $primary_green;
                    color: $WHITE;
                    height: 40%;
                    border: 1px solid #6D9A88;
                    position: absolute;
                    right: 3%;
                    top: 30%;
                    border-top-right-radius: 3px;
                    border-bottom-right-radius: 3px;
                }
            }

            .toolBar_select {
                width: 13%;
                margin-left: 1rem;
                height: 45%;
                position: relative;


                .select_value {
                    width: 100%;
                    height: 100%;
                    background-color: $OFFWHITE;
                    padding: .5rem;
                    display: flex;
                    // justify-content: center;
                    align-items: center;
                    border: 1px solid #6D9A88;
                    border-radius: 3px;
                    cursor: pointer;
                    outline-color: lighten($color: $primary_green, $amount: 15);

                    .selectValue_center {
                        height: 100%;
                        width: 60%;
                        text-align: center;
                        font-size: 1.05rem;
                        color: $primary_black;

                        .selectValue_icon {
                            width: 20%;
                            height: 100%;
                            display: inline-block;
                        }

                        .selectValue_span {
                            position: relative;
                            bottom: .12rem;
                        }

                    }

                    .arrow {
                        position: absolute;
                        right: 2rem;
                        transform: rotate(90deg);
                    }

                }

                &:hover .select_dropdown {
                    display: block;
                }

                .select_dropdown {
                    width: 100%;
                    position: absolute;
                    bottom: -6.6rem;
                    left: 0;
                    box-shadow: -1px 1px 3px rgba($color: #000000, $alpha: .17);
                    background-color: $WHITE;
                    color: $primary_black;
                    display: none;
                    z-index: 1;
                    border-radius: 3px;


                    .selectDropdown_value {
                        padding: .5rem;
                        transition: .3s;
                        width: 100%;
                        display: inline-block;

                        &:hover {
                            background-color: $OFFWHITE;
                        }
                    }
                }
            }

            .Sales {
                width: 30%;
                display: flex;
                justify-content: center;
                color: $primary_black;
                align-items: center;
                flex-direction: column;
                height: 80%;
                position: absolute;
                right: 2rem;

                & center {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    text-align: justify;
                    align-self: flex-end;
                }

                .lbl_salesTag {
                    font-size: .8rem;
                    align-self: flex-end;
                }

                .salesMade {
                    font-size: 1.8rem;
                    align-self: flex-end;
                    color: $primary_green;
                }
            }
        }

        .contentContainer {
            width: 100%;
            height: 90%;
            // position: relative;

            @import '../scss/layout/tables/storeTables';
        }
    }

    .footer {
        justify-self: flex-end;
        width: 100%;
        height: 6%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.26);
        background-color: $WHITE;
        font-weight: 400;
        font-size: .8rem;
        color: $primary_green--dark;
        padding: 0 2rem;
        border-top: 3px solid lighten($color: $primary_green, $amount: 50);


        .footer_actions {
            width: 25%;
            height: 100%;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;
            // background-color: red;
            align-items: center;
            font-size: 1rem;

            .footer_lbl {
                display: flex;
                justify-content: center;
                align-items: center;
                height: 100%;
                width: 80%;

                .footer_tb {
                    width: 30%;
                    height: 68%;
                    margin-left: .8rem;
                    border: 1px solid $primary_black;
                    border-radius: 3px;
                    outline-color: lighten($color: $primary_green, $amount: 15);
                    text-align: center;
                }

            }

            .footer_btn {
                width: 38%;
                height: 68%;
                background-color: $primary_green;
                border: none;
                border-radius: 3px;
                color: $WHITE;
                font-size: 1rem;
            }
        }


    }

}