@import "./components/fonts";
@import "./components/variables";
@import "./base/reset";
@import "./utilities/toolTips.scss";

body {
    user-select: none;
    height: 100vh;
    display: flex;
    background-color: $OFFWHITE;
    position: relative;

    .contentCover{
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color .3s;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
        user-select: none;
    }
    .contentCover--shown{
        background-color: rgba($color: #000000, $alpha: .4);
        pointer-events: fill;
    }

}


.tabItem {
    outline-color: lighten($color: $primary_green, $amount: 15);

}

.main_menu {
    width: 9%;
    background-color: $primary_green;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    user-select: none;
}

.menu_a {
    width: 100%;
    height: 43%;

    .lbl_storeName {
        -webkit-app-region: drag;
        width: 100%;
        display: block;
        text-align: center;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.26);
        height: 18%;
        padding: 5% 10%;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 60%;
            height: 85%;
        }
    }

    .menu_iconsContainer {
        width: 100%;
        height: 85%;

        .current {
            background-color: darken($color: $primary_green, $amount: 5);
        }

        .menu_icons {
            cursor: pointer;
            width: 100%;
            height: 33.33%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            & img {
                width: 48%;
                height: 45%;
            }

            &:hover {
                background-color: darken($color: $primary_green, $amount: 5);
            }
        }

        #menuIcon_png {
            width: 28%;
            height: 41%;
        }
    }
}

.menu_b {
    width: 100%;
    // background-color: red;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & center {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;

        & .menu_items {
            height: 13%;
            cursor: pointer;

            &:nth-child(1) {
                margin-right: 13%;
            }
        }
    }

    // .menuB_cb{
    //     position: absolute;
    //     top: 50%;
    //     left: 60%;
    // }
}

.main_body {
    width: 91%;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    @import '../scss/layout/titleBar';



    .mainBody_content {
        width: 100%;
        height: 89.5%;
        justify-self: center;
        position: relative;

        @import '../scss/layout/toolBar_inventory';

        .contentContainer {
            width: 100%;
            height: 90%;
            position: relative;
            overflow: hidden;

            .emptyBanner{
                width: 100%;
                height: 92%;
                position: absolute;
                bottom: 0%;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 1;
                background-color: $OFFWHITE;

                img{
                    width: 30%;
                    height: 40%;
                }
                span{
                    display: block;
                    margin-top: 1rem;
                    color: $primary_green;

                    img{
                        width: 1.5%;
                        cursor: pointer;
                    }
                }

            }

            @import '../scss/layout/tables/employeesTable';

            .floatCircle{

                position: absolute;
                bottom: 4%;
                right: 1%;
                background-color: $primary_green;
                width: 4%;
                height: 8%;
                border-radius: 100%;
                display: flex;
                justify-content: center;
                align-items: center;
                box-shadow: -1px 5px 8px rgba($color: $primary_black, $alpha: 0.3);
                cursor: pointer;
                transform: scale(0.9);
                transition: .3s;

                &:hover{
                    transform: scale(1);
                }

                img{
                    width: 40%
                }

            }
        }

        @import '../scss/utilities/modals';

       
    }
    @import '../scss/utilities/alerts';

    @import '../scss/layout/footer_store';
}