@import "./components/fonts";
@import "./components/variables";
@import "./base/reset";
@import "./utilities/toolTips.scss";

body {
    height: 100vh;
    display: flex;
    background-color: $OFFWHITE;
    position: relative;
    overflow: hidden;
    user-select: none;

    .contentCover{
        position: absolute;
        top: 0;
        left: 0;
        transition: background-color .3s;
        width: 100%;
        height: 100%;
        pointer-events: none;
        z-index: 10;
    }
    .contentCover--shown{
        background-color: rgba($color: #000000, $alpha: .4);
        pointer-events: fill;
        filter: blur(300px);
    }

}


.tabItem {
    outline-color: lighten($color: $primary_green, $amount: 15);

}

.main_menu {
    width: 9%;
    background-color: $primary_green;
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-flow: column;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 0%;
    top: 0;
    z-index: 5;
}

.menu_a {
    width: 100%;
    height: 43%;

    .lbl_storeName {
        -webkit-app-region: drag;
        width: 100%;
        display: block;
        text-align: center;
        box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.26);
        height: 18%;
        padding: 5% 10%;
        z-index: 4;
        display: flex;
        justify-content: center;
        align-items: center;

        & img {
            width: 60%;
            height: 85%;
        }
    }

    .menu_iconsContainer {
        width: 100%;
        height: 85%;

        .current {
            background-color: darken($color: $primary_green, $amount: 5);
        }

        .menu_icons {
            cursor: pointer;
            width: 100%;
            height: 33.33%;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s;

            & img {
                width: 48%;
                height: 45%;
            }

            &:hover {
                background-color: darken($color: $primary_green, $amount: 5);
            }
        }
       

        #menuIcon_png {
            width: 28%;
            height: 41%;
        }
    }
}

.menu_b {
    width: 100%;
    // background-color: red;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;

    & center {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        width: 100%;
        height: 100%;
        position: relative;

        & .menu_items {
            height: 13%;
            cursor: pointer;

            &:nth-child(1) {
                margin-right: 18%;
            }
        }

        #signout{
            position: absolute;
            bottom: 25%;
            left: 41%;
            transform: rotate(180deg);
        }
    }

    // .menuB_cb{
    //     position: absolute;
    //     top: 50%;
    //     left: 60%;
    // }
}

.main_body {
    width: 91%;
    height: 100%;
    font-family: 'Roboto';
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 0;
    

    @import '../scss/layout/titleBar';



    .mainBody_content {
        width: 100%;
        height: 89.5%;
        justify-self: center;
        position: relative;
        overflow: hidden;

        @import '../scss/layout/toolBar_store';


        .contentContainer {
            width: 100%;
            height: 91%;
            position: relative;
            display: flex;
            justify-content: space-between;
            align-items: center;

            .emptyBanner{
                width: 63.4%;
                height: 88%;
                position: absolute;
                bottom: 2%;
                left: 0;
                display: flex;
                justify-content: center;
                align-items: center;
                z-index: 2;
                background-color: $WHITE;

                img{
                    width: 30%;
                    height: 40%;
                }
                span{
                    display: block;
                    margin-top: 1rem;
                    color: $primary_green;

                    img{
                        width: 1.5%;
                        cursor: pointer;
                    }
                }

            }

            @import '../scss/layout/tables/storeFrontTable';

            .cartContainer{

                width: 42%;  
                height: 100%;  
                display: flex;
                justify-content: center;
                align-items: center;

                .cart{

                    width: 95%;
                    height: 97%;
                    background-color: $WHITE;
                    box-shadow: -1px 3px 5px rgba($color: $primary_green, $alpha: 0.15);
                    border-radius: 8px;
                    padding: .4rem .8rem;
                    color: $primary_black;

                    .cartHeader{

                        width: 100%;
                        height: 8%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        position: relative;
                        // border-bottom: 2px solid lighten($color: $primary_black, $amount: 50);

                        &::after{
                            width: 100%;
                            height: 1.9%;
                            border-radius: 28px;
                            content: '';
                            position: absolute;
                            bottom: 0;
                            left: 0;
                            background-color: lighten($color: $primary_black, $amount: 52);
                        }

                        .cartTitle{

                            font-size: 1.5rem;
                            color: lighten($color: $primary_black, $amount: 15);
                            display: block;
                            width: 23%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            font-weight: 600;

                            .cartTitle_icon{
                                width: 31%;
                            }
                        }

                        .btnCart_clear{
                            display: block;
                            width: 22%;
                            height: 65%;
                            border: none;
                            font-size: .9rem;
                            color: $WHITE;
                            // background-color: rgba($color: $primary_green, $alpha: 1);
                            border: 1px solid $secondary_red;
                            border-radius: 8px;
                            color: $secondary_red;
                            background-color: $WHITE;
                            transition: .3s;
                            cursor: pointer;

                            &:disabled{
                                opacity: .5;
                                cursor: default;

                                &:hover{

                                    color: $secondary_red;
                                    background-color: $WHITE;

                                }
                            }

                            &:hover{
                                background-color: $secondary_red;
                                color: $WHITE;
                            }

                        }


                    }

                    .cartItems{

                        width: 100%;
                        height: 50%;
                        margin: .5rem 0;
                        overflow-y: scroll;
                        overflow-x: hidden;
                        position: relative;

                        &::-webkit-scrollbar{
                            display: none;
                        }

                        &:after{

                            content: "";
                            width: 21.5%;
                            background-image: linear-gradient(180deg, rgba($WHITE, 0.1),  rgba($WHITE, .8));
                            display: block;
                            position: fixed;
                            bottom: 39%;
                            right: 1.5%;
                            height: 5%;

                        }
                        
                        .cartItem{
                            width: 100%;
                            height: 20%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                            border-radius: 8px;
                            color: $primary_black;
                            margin-bottom: 1%;
                            transition: .3s ease-out;
                            transform: translateX(100%);
                            position: relative;

                            &:last-child{
                                margin-bottom: 0;
                            }


                            .cartItem_details{
                                width: 30%;
                                height: 100%;
                                display: flex;
                                justify-content: center;
                                align-items: flex-start;
                                flex-direction: column;

                                .cartItem_Name{
                                    font-size: .95rem;
                                    // font-weight: 400;
                                }

                                .cartItem_Brand{
                                    color: lighten($color: $primary_black, $amount: 30);
                                    font-size: .87rem;
                                }
                            }

                            .cartItem_toolTip{

                                min-width: 15%;
                                height: 35%;
                                background-color: $secondary_green;
                                position: absolute;
                                bottom: -20%;
                                left: 53.5%;
                                color: $WHITE;
                                padding: .5rem .2rem;
                                // padding-top: .5rem;
                                text-align: center;
                                border-radius: 4px;
                                font-size: .8rem;
                                display: flex;
                                flex-direction: column;
                                justify-content: center;
                                align-items: center;
                                transition: .3s;
                                opacity: 0;

                                &::after{

                                    content: "";
                                    position: absolute;
                                    border-radius: 3px;
                                    width: 20%;
                                    height: 40%;
                                    background-color: $secondary_green;
                                    top: -7%;
                                    transform: rotate(45deg);
                                    z-index: -1;

                                }

                            }

                            .cartItem_toolTip--shown{
                                opacity: 1;
                            }

                            .cartItem_discount{
                                width: 12%;
                                height: 50%;
                                border: none;
                                background-color: $secondary_green;
                                color: $WHITE;
                                border-radius: 4px;


                                .discountValue{
                                    width: 100%;
                                    height: 90%;
                                    font-size: .95rem;
                                    // background-color: green;
                                    display: flex;
                                    justify-content: center;
                                    align-items: center;
                                }

                            }

                            .cartItem_discount--disabled{
                                background-color: lighten($color: $primary_black, $amount: 40);
                            }

                            .cartItem_count{

                                width: 17%;
                                height: 50%;
                                border: 1px solid lighten($color: $primary_black, $amount: 10);
                                border-radius: 4px;
                                color: $primary_black;
                                padding: 0 .5rem;
                                outline: $primary_yellow;

                                ::placeholder{
                                    color: lighten($color: $primary_black, $amount: 20);
                                    background-color: red;
                                }
                                    
                            }

                            .cartItem_cost{
                                width: 25%;
                            }

                            .cb_cartItem{

                                width: 11%;
                                height: 50%;
                                position: absolute;
                                top: 20%;
                                left: 37.5%;
                                opacity: 0;

                            }

                        }

                        .cartItem--shown{
                            transform: translateX(0);
                        }

                    }

                    .cartExpenses{

                        height: 25%;
                        width: 100%;
                        border-radius: 8px;
                        box-shadow: -1px 3px 5px rgba($color: $primary_green, $alpha: 0.15);
                        margin: 6% 0;
                        padding: .4rem .5rem;
                        font-size: .85rem;

                        .lblExpense{
                            display: block;
                            width: 100%;
                            margin-bottom: 2%;
                            display: flex;
                            justify-content: space-between;
                            align-items: center;
                        }

                        .mainTotal{
                            font-size: 1.2rem;
                            margin-top: 21%;
                            color: $primary_green;
                        }

                    }

                    .btnCart_sell{

                        width: 100%;
                        height: 8%;
                        font-size: 1rem;
                        border: none;
                        background-color: $primary_yellow;
                        border-radius: 8px;
                        color: $WHITE;
                        transition: .3s;
                        cursor: pointer;

                        &:disabled{

                            // opacity: .5;
                            background-color: lighten($color: $primary_yellow, $amount: 20);
                            cursor: default;

                        }

                    }

                }
    
            }

            .notificationsContainer{

                position: absolute;
                width: 32%;
                bottom: 15%;
                right: 38%;
                padding: 1rem;
                // background-color: red;
                background-color: $WHITE;
                height: 70%;
                border-radius: 8px;
                box-shadow: 1px 3px 5px rgba($color: $primary_black, $alpha: 0.3);
                z-index: 20;
                transition: .5s;
                box-shadow: -3px 5px 5px rgba($color: $primary_black, $alpha: 0.3);


                .notifHeader{

                    width: 100%;
                    height: 10%;
                    color: $secondary_green;
                    font-size: 1.1rem;
                    display: flex;
                    justify-content: space-between;
                    align-items: flex-start;

                    img{
                        transition: .3s;
                        border-radius: 4px;

                        &:hover{
                            box-shadow: -1px 3px 5px rgba($color: $primary_black, $alpha: 0.3);
                        }
                    }

                }

                .notifications{
                    width: 100%;
                    height: 90%;
                    padding: .5rem .1rem;
                    overflow: auto;
                    // background-color: lighten($color: $primary_black, $amount: 60);

                    &::-webkit-scrollbar{
                        display: none;
                    }

                    .notification{

                        width: 100%;
                        height: 20%;
                        border-radius: 6px;
                        padding: .5rem 1.2rem;
                        position: relative;
                        margin-bottom: 1.2rem;
                        box-shadow: -1px 3px 5px rgba($color: $primary_black, $alpha: 0.2), 0px -1px 2px rgba($color: $primary_black, $alpha: 0.2);
                        background-color: lighten($color: $primary_black, $amount: 80);
                        color: $primary_black;
                        display: flex;
                        justify-content: left;
                        align-items: center;
                        transition: .3s;
                        cursor: pointer;

                        &:hover{
                            transform: translateY(-5px);
                        }

                        .main{
                            cursor: pointer;

                            label{
                                display: block
                            }

                            .title{
                                font-weight: 500;
                                font-size: 1.1rem;
                                color: lighten($color: $primary_black, $amount: 10);
                            }
                            .message{
                                font-weight: 400;
                                color: lighten($color: $primary_black, $amount: 20);
                                font-size: .9rem;

                                .userName{
                                    color: $primary_yellow;
                                }
                            }
                        }

                    }

                    .general{

                        &::before{
                            content: "";
                            position: absolute;
                            top: 18%;
                            left: 1.5%;
                            width: 1%;
                            height: 70%;
                            background-color: $primary_yellow;
                            border-radius: 4px;
                        }

                        .icon{

                            width: 37px;
                            height: 28px;
                            border-radius: 100%;
                            background-color: $primary_yellow;
                            margin-right: .6rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }


                    }

                    .employees{

                        &::before{
                            content: "";
                            position: absolute;
                            top: 18%;
                            left: 1.5%;
                            width: 1%;
                            height: 70%;
                            background-color: #86aee9;
                            border-radius: 4px;
                        }

                        .icon{

                            width: 37px;
                            height: 30px;
                            border-radius: 100%;
                            background-color: #86aee9;
                            margin-right: .6rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }


                    }

                    .error{

                        &::before{
                            content: "";
                            position: absolute;
                            top: 18%;
                            left: 1.5%;
                            width: 1%;
                            height: 70%;
                            background-color: $secondary_red;
                            border-radius: 4px;
                        }

                        .icon{

                            width: 8%;
                            height: 45%;
                            border-radius: 100%;
                            background-color: $secondary_red;
                            margin-right: .6rem;
                            display: flex;
                            justify-content: center;
                            align-items: center;

                        }


                    }
                }

                .confirmNewPasswordBox{

                    position: fixed;
                    bottom: 0;
                    right: -10%;
                    height: 15%;
                    width: 25%;
                    // background-color: lighten($color: $primary_black, $amount: 50);
                    background-color: $WHITE;
                    color: lighten($color: $primary_black, $amount: 10);
                    border: none;
                    border-radius: 8px;
                    padding: .5rem;
                    display: flex;
                    flex-flow: column;
                    justify-content: space-between;
                    align-items: center;
                    box-shadow: -3px 5px 7px rgba($color: #000000, $alpha: 0.3), 1px -1px 1px rgba($color: #000000, $alpha: 0.2);


                    label{
                        display: block;
                        width: 100%;
                        height: 68%;
                        text-align: center;
                        position: relative;
                        padding: .2rem 0;

                        label{
                            display: block;
                            width: 100%;
                        }
                        #passwordBox{
                            width: 100%;
                            height: 40%;
                            border-radius: 3px;
                            border: 1px solid $primary_yellow;
                            border-radius: 3px;
                            padding: .5rem;

                            &:disabled{
                                width: 100%;
                                height: 40%;
                                border-radius: 3px;
                                border: 1px solid $primary_yellow;
                                border-radius: 3px;
                                padding: .5rem;
                            }
                        }
                        #copy{
                            display: block;
                            width: 20%;
                            position: absolute;
                            bottom: -2%;
                            right: 0%;
                            height: 35%;
                            border: 1px solid $primary_yellow;
                            border-top-right-radius: 3px;
                            border-bottom-right-radius: 3px;
                            background-color: $WHITE;
                        }
                    }

                    #confirm{
                        background-color: $primary_green;
                        height: 24%;
                        color: $WHITE;
                        border: none;
                        border-radius: 3px;
                        width: 100%;
                    }

                }

            }

            .notificationsContainer--shown{
                bottom: 50%;
            }
    

        }

       
        @import '../scss/utilities/modals';

       
    }

    @import '../scss/utilities/alerts';

    @import '../scss/layout/footer_store';
}