#tooltip_cb {
  color: white;
  font-family: 'Roboto'; }

.tippy-tooltip.tomato-theme[data-placement^='top'] .tippy-arrow {
  bottom: -4px; }

.tippy-tooltip.tomato-theme[data-placement^='bottom'] .tippy-arrow {
  top: -4px; }

.tippy-tooltip.tomato-theme[data-placement^='left'] .tippy-arrow {
  right: -4px; }

.tippy-tooltip.tomato-theme[data-placement^='right'] .tippy-arrow {
  left: -4px; }
