.footer {
    justify-self: flex-end;
    width: 100%;
    height: 6%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 3px 6px rgba($color: #000000, $alpha: 0.26);
    background-color: $WHITE;
    font-weight: 400;
    font-size: .8rem;
    color: $primary_green--dark;
    padding: 0 1rem;
    border-top: 3px solid lighten($color: $primary_green, $amount: 50);


    .footer_actions {
        width: 25%;
        height: 100%;
        display: flex;
        justify-content: flex-end;
        align-self: flex-end;
        // background-color: red;
        align-items: center;
        font-size: 1rem;

        .footer_lbl {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            width: 80%;

            .footer_tb {
                width: 30%;
                height: 68%;
                margin-left: .8rem;
                border: 1px solid $primary_black;
                border-radius: 3px;
                outline-color: lighten($color: $primary_yellow, $amount: 15);
                text-align: center;
                transition: outline .3s;

                &:focus{
                    outline-width: 20px;
                    outline-offset: 3px;
                }
            }

        }

        .footer_btn {
            width: 38%;
            height: 68%;
            border: 1.8px solid $primary_green;
            background-color: $WHITE;
            border-radius: 4px;
            color: $primary_green;
            font-size: 1rem;
            cursor: pointer;
            transition: .3s;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: .5rem;
            position: relative;

            & img{
                width: 20%;
            }

            &:hover{
                background-color: $primary_green;
                color: $WHITE;
            }


            .cartCount{
                width: 20%;
                position: absolute;
                right: -.7rem;
                top: -.7rem;
                transform: scale(0);
                height: 67%;
                background-color: $secondary_red;
                color: $WHITE;
                font-size: .5rem;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 100%;
                transition: 1;
                transition: transform .7s;
            }
        }

        .footer_btn--disabled{
            &:disabled{
                color: lighten($color: $primary_green, $amount: 40);
                border: 1.8px solid lighten($color: $primary_green, $amount: 40);

                &:hover{
                    background-color: $WHITE;
                    // color: ;
                }
            }
        }


    }

    .footer_clock {
        // display: block;

        & #clock_blinker {
            position: absolute;
        }

        .clock_min{
            margin-left: .3rem;
        }
    }


}