.content_toolBar {
    width: 100%;
    height: 9%;
    background-color: $WHITE;
    display: flex;
    align-items: center;
    padding: 0 1rem;
    position: relative;

    .toolBar_lbl {
        position: relative;
        width: 25%;
        font-size: 1.2rem;
        color: $primary_green;
        font-weight: 400;
        display: flex;
        align-items: center;
        height: 100%;

        .toolBar_tb {
            margin-left: 1%;
            border: 1px solid #6D9A88;
            border-radius: 3px;
            height: 50%;
            width: 75%;
            font-family: 'Roboto';
            font-size: .95rem;
            padding: .5rem;
            outline-color: lighten($color: $primary_green, $amount: 15);
        }


        .toolBar_btn {
            width: 15%;
            background-color: $primary_green;
            color: $WHITE;
            height: 50%;
            border: 1px solid #6D9A88;
            position: absolute;
            right: 3%;
            top: 25%;
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;
            outline-color: $primary_green;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    .toolBar_select {
        width: 13%;
        margin-left: 1rem;
        height: 50%;
        position: relative;


        .select_value {
            width: 100%;
            height: 100%;
            background-color: $OFFWHITE;
            padding: .5rem;
            display: flex;
            // justify-content: center;
            align-items: center;
            border: 1px solid #6D9A88;
            border-radius: 3px;
            cursor: pointer;
            outline-color: lighten($color: $primary_green, $amount: 15);


            .selectValue_center {
                height: 100%;
                width: 60%;
                text-align: center;
                font-size: 1.05rem;
                color: $primary_black;

                .selectValue_icon {
                    width: 20%;
                    height: 100%;
                    display: inline-block;
                }

                .selectValue_span {
                    position: relative;
                    bottom: .12rem;
                }

            }

            .arrow {
                position: absolute;
                right: 2rem;
                transform: rotate(90deg);
            }

        }

        &:hover .select_dropdown {
            display: block;
        }
       

        .select_dropdown {
            width: 100%;
            position: absolute;
            bottom: -7.2rem;
            left: 0;
            box-shadow: -1px 1px 3px rgba($color: #000000, $alpha: .17);
            background-color: $WHITE;
            color: $primary_black;
            display: none;
            z-index: 5;
            border-radius: 4px;


            .selectDropdown_value {
                padding: .5rem;
                transition: .3s;
                width: 100%;
                display: inline-block;
                cursor: pointer;
                list-style: none; //For dynamically displayed tippy
                width: 100%;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;

                &:hover {
                    background-color: $OFFWHITE;
                }

                &:last-child {
                    border-bottom-right-radius: 3px;
                    border-bottom-left-radius: 3px;
                }
            }
        }
    }

    .footer_actions {
        width: 42%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-self: flex-end;
        // background-color: red;
        align-items: center;
        font-size: 1rem;

        

        .toolBarSlct_btn{

            width: 14%;
            text-decoration: none;
            color: $primary_green;
            background-color: $WHITE;
            border: 1px solid $primary_green;
            height: 45%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 4px;
            transition: .3s;

            &:hover{
                background-color: $primary_green;
                color: $WHITE;
            }

            &:disabled{

                color: lighten($color: $primary_green, $amount: 30);
                border-color: lighten($color: $primary_green, $amount: 30);

                &:hover{
                    background-color: $WHITE;
                    color: lighten($color: $primary_green, $amount: 30);
                }

            }

        }


        .filter{
            width: 88%;
            height: 100%;
            display: flex;
            justify-content: space-evenly;
            align-items: center;
            color: $primary_black;
            border-radius: 4px;
            position: relative;

            .footer_date{

                border: 1px solid $primary_black;
                color: $primary_black;
                border-radius: 4px;
                padding: .5rem;
                height: 48%;

                &:disabled{

                    color: lighten($color: $primary_black, $amount: 30);
                    border-color: lighten($color: $primary_black, $amount: 30);

                }

            }

            .toolBar_tP{

                width: 35%;
                height: 40%;
                position: absolute;
                bottom: -30%;
                left: 0;
                background-color: $secondary_green;
                color: $WHITE;
                font-size: .9rem;
                padding: .2rem;
                border-radius: 3px;
                opacity: 0;
                z-index: 5;
                transition: .3s;

                .arrow{
                    background-color: $secondary_green;
                    // background-color: red;
                    height: 40%;
                    width: 6%;
                    position: absolute;
                    top: -17%;
                    left: 5%;
                    transform: rotate(-45deg);
                    border-radius: 3px;
                    z-index: 0;
                }

                .inSpan{
                    z-index: 100;
                }


            }

            .starttP{

                left: 25%;

            }
            .endtP{
                left: 70%;
            }

        }


    }

    .Sales {
        width: fit-content;
        display: flex;
        justify-content: center;
        color: $primary_black;
        align-items: center;
        flex-direction: column;
        height: 80%;
        position: absolute;
        right: 2rem;
        background-color: $OFFWHITE;
        padding: 1rem;
        // border: 1px solid rgba($color: #000000, $alpha: .08);
        border-radius: 3px;
        box-shadow: -1px 2px 4px rgba($color: #000000, $alpha: .163);
        cursor: pointer;

        & center {
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            text-align: center;
            align-self: flex-end;
            cursor: pointer;
        }

        .lbl_salesTag {
            font-size: .8rem;
            align-self: center;
            cursor: pointer;
        }

        .salesMade {
            font-size: 1.8rem;
            align-self: flex-end;
            color: $primary_green;
            cursor: pointer;
        }

        img{
            // position: absolute;
            width: 15%;
        }
    }
}